.product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 10px;
    border: 1px solid #ccc; 
    padding: 10px; 
}
.show-info {
    background-color: aquamarine;
    padding: 10px;
}


